body{
  height: auto;
  background-color: lightgray;
}
#container {
  display: grid;
  grid-template-rows: 50% 50% ;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}
#container div{
  height: auto;
  margin: 2rem;
  margin-bottom: 2rem;
}
section img{
  height: 1.5fr;
  width: 1.5fr;
  max-width: 10rem;
}
header{
  background-color: #FFD801;
  color: rgb(255, 255, 255);
  height:10rem;
  border-bottom:solid #174d9b .5rem;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;

}
footer{
  height:10rem;
  background-color: #174d9b;
  border-top:solid #FFD801 .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: xx-large;
  font-family: 'Silkscreen', cursive;
  color: #FFD801;
}
main{
  height: 750px;
  font-family: 'Roboto Condensed', sans-serif;
  
}
#results{
  background-color: #7FA8DB;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  grid-column-start:1;
  border-radius: 2%;
  border:solid #174d9b 5px;
  padding: 1rem;
  line-height: 150%;
}

#textcontainer{
  background-color: #7FA8DB;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start:2;
  grid-column-end:5 ;
  border:solid #fcebbb 5px;
  
  
  
}

header img{
  margin-left: 1.5rem;
  height: 8rem;
}

h1{
  margin-left: 1rem;
  font-size: xx-large;
  background-color: #ffffff;
  border-radius: 1%;
  padding: .2rem;
  border:#2c7427 solid 1rem;
  color: #e17c0e;
  font-family: 'Silkscreen', cursive;
  
}
section{
  border:solid #7FA8DB 5px;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start:2;
  grid-column-end:5 ;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  background-color: #fcebbb;

}

section img{
  border: solid #174d9b 5px;
  border-radius: 5%;
  margin: 1.5rem;
}
#images h2{
  margin: auto;
 
}
#resultsButton{
  height: 2rem;
  width: 10rem;
  font-size: x-large;
  color: #efefef;
  font-family: 'Roboto Condensed', sans-serif;
 
}


#resultsButton.clicks-allowed{
  height: 4rem;
  margin: auto;
  width: 20rem;
  pointer-events: auto;
  color: black;
}

#resultsButton.clicks-allowed:hover{
  color: #2c7427;
}


p{
  font-size: larger;
  margin: 2rem;
  max-height: fit-content;
  font-family: 'Roboto Condensed', sans-serif;
 
}

h2{
  margin: 2rem;
  font-size: x-large;
  font-family: 'Roboto Condensed', sans-serif;
  
}

ul{
  font-size: medium ;
  max-height: fit-content;
  font-family: 'Roboto Condensed', sans-serif;
  color: #174d9b;

}
canvas{
  max-height: 200px;
}
